# Submodules
#-----------------
temprepo

# Generated
#-----------------
build/
site/

# System
#-----------------
*.log
.vscode
external/
lost+found
*~
~*

# Latex:
#-----------------
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.spl
*.synctex.gz
*.tex~

# python:
#-----------------
*.pyc
__pycache__/
draft.py

# c/c++:
#-----------------
*.o

